#nav-list>li{
	margin-right: 5px;
	padding: 10px;

	font-size: 30px;
	font-family: 'Grand Hotel', cursive;
}

#brandname{
	color: black;
    font-size: 54px;
    font-family: 'Berkshire Swash', cursive;
     font-family: 'Sacramento', cursive;

}

#slogan{
  font-size: 45px;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: 'Berkshire Swash', cursive;
  font-family: 'Sacramento', cursive;
  position: relative;
  animation-name: example;
  animation-duration: 3s;
  animation-fill-mode: backwards;
}

#yellow{
	color: #f5ce42;
}

@keyframes example{
	from{top:100px;}
	to{top:0px;}
}

#nav-list>li:hover{
	color:white;
	background-color: #aba6a6;
}

#header{
	background-color:White;
	box-shadow:0px 0px 20px 0px #222;

}

#header>button{
	border:2px solid #000;
}

#header>button>span{
	border:2px solid #000;
}

#section1,#section2{
	height: 600px;
	
}

#section1{
	background:url("https://shivasankari3101.github.io/The-little-big/images/photo-4.jpg") no-repeat;
	border-top-right-radius: 50%;
	border-bottom-right-radius: 50%;
	margin-top: 15px;
	
}









@media(max-width: 992px){
	#nav-list>li{
		text-align: center;
	}


     #section1{
	background:url("https://shivasankari3101.github.io/The-little-big/images/photo-4.jpg") no-repeat;
	margin-right: 100px;
	border-radius: 50%;
	margin-left: 40px;
	margin-right: 40px;

	
}


}

@media(min-width: 625px) and (max-width:850px){
	#section1{
       background:url("/images/photo-4_600.jpg") no-repeat;
       width: 600px;
       height: 324px;
       margin-left: 60px;	
	}

	#brandname{
		font-size: 7vw;
	}
}

@media(min-width: 450px) and (max-width:624px){
	#section1{
       background:url("/images/photo-4_400.jpg") no-repeat;
       width: 400px;
       height: 219px;
       margin-left: 60px;	
	}

    #brandname{
		font-size: 6.8vw;
	}

	#slogan{
		font-size: 7vw;
	}
}

@media(min-width: 350px) and (max-width:449px){
	#section1{
       background:url("/images/photo-4_400.jpg") no-repeat;
       width: 300px;
       height: 164px;
       	
	}

	    #brandname{
		font-size: 8vw;
	}
}

@media (max-width:360px){

	#section1{
       background:url("/images/photo-4_400.jpg") no-repeat;
       border-radius: 0px;
       width: 100%;
       height: 185px;
       margin: 0px;
       	
	}

	#header>button{
		display: none;
	}

	#brandname{
		font-size: 10vw;
	}


}

@media (max-width: 449px){
	#slogan{
		font-size: 8vw;
	}
}

@media (max-width: 349px){
	#slogan{
		font-size: 9vw;
	}
}

@media (max-width: 249px){
	#slogan{
		font-size: 10vw;
	}
}



