#nav-list>li{
	margin-right: 5px;
	padding: 10px;

	font-size: 30px;
	font-family: 'Grand Hotel', cursive;
}
a{
	color: black;
}

a:hover{
	text-decoration: none;
	color: white;
}


#brandname{
	color: black;
    font-size: 54px;
    font-family: 'Berkshire Siwash', cursve;
     font-family: 'Sacramento', cursive;

}

#slogan{
  font-size: 45px;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: 'Berkshire Swash', cursive;
  font-family: 'Sacramento', cursive;
  position: relative;
  animation-name: example;
  animation-duration: 2s;
  animation-fill-mode: backwards;
}

#yellow{
	color: #f5ce42;
}

@keyframes example{
	from{top:100px;}
	to{top:0px;}
}

#nav-list>li:hover{
	color:white;
	background-color: #aba6a6;
}

#header{
	background-color:White;
	box-shadow:0px 0px 20px 0px #222;

}

#header>button{
	outline: none;
}

#header>button>span{
	border:2px solid #000;
}

#section1{
	height: 600px;
	
}

#section1{
	background:url("https://shivasankari3101.github.io/The-little-big/images/photo-4.jpg") no-repeat;
	border-top-right-radius: 50%;
	border-bottom-right-radius: 50%;
	margin-top: 15px;

	
}

#section2{
	
     font-size: 2vw;
	background-color:#dee1e3;
	margin-top: 30px;
	margin-bottom: 100px;
	padding: 30px;
	box-shadow:5px 5px 5px #adb0b3;
	position: relative;
	animation-name: about;
	animation-delay: 2s;
	animation-duration: 2s;
	animation-fill-mode: backwards;
}

#section2>h1{
	text-align: center;
    font-family: 'Grand Hotel', cursive;
    

}

@keyframes about{
	from{top: 100px;display: none;}
	to{top: 0px;}
}

#section3>div>img{
	padding:15px;
}

#section3>h3{
	font-size: 40px;
	font-family: 'Berkshire Siwash', cursve;
     font-family: 'Sacramento', cursive;
     margin-bottom: 50px;
}


@media (min-width: 577px){

#one,#two,#three,#four,#five,#six,#seven,#eight,#nine{
	animation-name: shadow;
	animation-duration: 2s;
	animation-fill-mode: backwards;
}

#one{
	animation-delay: 4s;
	
}
#two{
	animation-delay: 6s;
}
#three{
	animation-delay: 8s;
	
}
#four{
	animation-delay: 10s;
	
}
#five{
	animation-delay: 12s;
	
}
#six{
	animation-delay: 14s;
	
}
#seven{
	animation-delay: 16s;
}
#eight{
	animation-delay: 18s;
	
}
#nine{
	animation-delay: 20s;
	
}

@keyframes shadow{
	from{box-shadow: 0px 0px 0px 0px #fff;top: 0px;}
	to{box-shadow: 3px 3px 3px 6px #adb0b3;top: -3px;}
}

}



@media(max-width: 992px){
	#nav-list>li{
		text-align: center;
	}


     #section1{
	background:url("https://shivasankari3101.github.io/The-little-big/images/photo-4.jpg") no-repeat;
	margin-right: 100px;
	border-radius: 50%;
	margin-left: 40px;
	margin-right: 40px;

	
}
    #section2{
        font-size: 2.5vw;
    }


}

@media(min-width: 625px) and (max-width:850px){
	#section1{
       background:url("https://shivasankari3101.github.io/The-little-big/images/photo-4_600.jpg") no-repeat;
       width: 600px;
       height: 324px;
       margin-left: 60px;	
	}

	#brandname{
		font-size: 7vw;
	}

	#section2{
        font-size:3vw;
    }
}

@media(min-width: 450px) and (max-width:624px){
	#section1{
       background:url("https://shivasankari3101.github.io/The-little-big/images/photo-4_400.jpg") no-repeat;
       width: 400px;
       height: 219px;
       margin-left: 60px;	
	}

    #brandname{
		font-size: 6.8vw;
	}

	#slogan{
		font-size: 7vw;
	}

	#section2{
        font-size:3.5vw;
    }
}

@media(min-width: 350px) and (max-width:449px){
	#section1{
       background:url("https://shivasankari3101.github.io/The-little-big/images/photo-4_400.jpg") no-repeat;
       width: 300px;
       height: 220px;
       	
	}

	    #brandname{
		font-size: 8vw;
	}

		#section2{
        font-size:3.85vw;
    }

    	#slogan{
		font-size: 8vw;
	}
}

@media (max-width:349px){

	#section1{
       background:url("https://shivasankari3101.github.io/The-little-big/images/photo-4_400.jpg") no-repeat;
       border-radius: 0px;
       width: 100%;
       height: 220px;
       margin: 0px;
       	
	}

	#header>button{
		display: none;
	}

	#brandname{
		font-size: 10vw;
	}
    
    #section2{
        font-size:4vw;
    }

    #slogan{
		font-size: 9vw;
	}

}



@media (max-width: 249px){
	#slogan{
		font-size: 10vw;
	}

	 #section2{
        font-size:5vw;
    }

}

#footer{
	background-color: #000;padding: 15px;
}

#icons,#menu,#contact,#copy{
	justify-content: center;
	color: white;
	margin-bottom: 20px;
    font-weight: 2vw;
}


#icons i{
	margin-right: 20px;
}

#menu a{
	margin-right: 20px;
	padding-right:  10px;
	border-right: 2px solid white;
}

#menu a:nth-child(3){
	border-right: 0px ;
}

#copy{
	margin-top: 70px;
	margin-bottom: 0px;
	font-family: 'Berkshire Siwash', cursve;
     font-family: 'Sacramento', cursive;
}


